body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center
}

.box {
    padding: 10px;
    display: inline-block;
    width: 27%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 100px;
    text-align: left;
}

.box-border {
    border: 1px solid lightgray;
}

.city {
    font-size: 1.2em;
    font-weight: bold;
}

.time {
    font-size: 0.9em;
    color: #3b3b3b;
    margin: -15px 0px 7px 0px;
    font-weight: bolder;
}

.time-light {
    font-size: 0.9em;
    color: gray;
    margin: -15px 0px 7px 0px;
    font-weight: bolder;
}

.temp {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -80px;
    margin-left: 10px;
}

.details {
    text-decoration: none;
    font-size: 0.8em;
}

.left-side {
    float: left;
    width: 49.5%;
}

.center-side {
    border-left: 2px solid lightgray;
    height: 100%;
    float: left;
}

.right-side {
    float: right;
    width: 49.5%;

}

.back-to {
    text-decoration: none;
    font-size: 0.8em;
}

.temp-cold {
    background-color: #6db7e6;
}

.temp-mild {
    background-color: #e1ff8f;
}

.temp-hot {
    background-color: #f9ca70;
}